@model List<Order>

@using ecommerce.Models

<head>
    <link href="~/CSS/Order.css?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])" rel="stylesheet" />
</head>

<hr />

<h2 class="OrderTitle">Orders</h2>

@foreach (var item in Model)
{
    <div class="OrderCard">
        <p>Order ID: @item.ID</p>
        <h3>@item.LastName, @item.FirstName</h3>
        <p>DATE: @item.OrderDate.Date</p>
        <p>@item.Address1 @item.Address2 </p>
        <p>@item.City, @item.State @item.ZipCode</p>
        <h3>Product</h3>
        @foreach (var x in item.BasketItems)
        {
            <div>
                <p>@x.Product.Name</p>
                <p>Price: @x.Product.Price</p>
                <p>Quantity: @x.Quantity</p>
            </div>
        }
        <h3>Order Total: @item.Total</h3>
    </div>
}