@using ecommerce.Models.ViewModels
@model ecommerce.Models.ViewModels.CheckoutViewModel

@{
    decimal total = 0;
    decimal subTotal = 0;
}

@{
    Layout = "_Layout";
}

<head>
    <link href="~/CSS/Checkout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">
</head>

<h2>Checkout</h2>

<a asp-controller="Basket" asp-action="Index">Return To Basket</a>

@foreach (var item in Model.BasketItems)
{
    subTotal = 0;
    subTotal = item.Quantity * item.Product.Price;
    total += subTotal;
<hr />
    <h3><a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Product.ID">@item.Product.Name</a></h3>
    <p>$@item.Product.Price</p>
    <p>Qty: @item.Quantity</p>
    <br />
    <p>SubTotal: $@subTotal</p>
}
<hr />
<h3>Total: $@total</h3>
<hr />

<form method="post" asp-controller="Checkout" asp-action="Review">
    <label asp-for="@Model.FirstName">First Name</label>
    <input asp-for="@Model.FirstName" />

    <label asp-for="@Model.LastName">Last Name</label>
    <input asp-for="@Model.LastName" />

    <label asp-for="@Model.Address1">Address</label>
    <input asp-for="@Model.Address1" />

    <label asp-for="@Model.Address2">Address 2</label>
    <input asp-for="@Model.Address2" />

    <label asp-for="@Model.City">City</label>
    <input asp-for="@Model.City" />

    <label asp-for="@Model.State">State</label>
    <select asp-for="@Model.State" asp-items="Html.GetEnumSelectList<State>()"></select>

    <label asp-for="@Model.ZipCode">Zip Code</label>
    <input asp-for="@Model.ZipCode" />

    <label asp-for="@Model.CreditCard">Credit Card</label>
    <select asp-for="@Model.CreditCard" asp-items="Html.GetEnumSelectList<CreditCard>()"></select>

    <button type="submit">Review Order</button>
</form>