@model ecommerce.Models.ViewModels.CheckoutViewModel

@{
    decimal total = 0;
    decimal subTotal = 0;
}

@{
    Layout = "_Layout";
}

<head>
    <link href="~/CSS/Checkout.css?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">
</head>

<div>
    <h2>Checkout</h2>

    <a id="Return" asp-controller="Basket" asp-action="Index">Return To Basket</a>
</div>
<hr />

@foreach (var item in Model.BasketItems)
{
    subTotal = 0;
    subTotal = item.Quantity * item.Product.Price;
    total += subTotal;
    <h3><a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Product.ID">@item.Product.Name</a></h3>
    <p>$@item.Product.Price</p>
    <br />
    <p>Qty: @item.Quantity</p>
    <p>SubTotal: $@subTotal</p>
    <hr />
}

    <br />
<p>Total: $@total</p>

<hr />

<h3>Shipping To</h3>
<p>@Model.FirstName @Model.LastName</p>
<p>@Model.Address1</p>
<p>@Model.Address2</p>
<p>@Model.City, @Model.State @Model.ZipCode</p>

<br />
<h3>Payment</h3>
<p>Insert here later</p>
<hr />
<form  method="post" asp-controller="Checkout" asp-action="Summary">
    <input asp-for="@Model.FirstName" type="hidden" />

    <input asp-for="@Model.LastName" type="hidden" />

    <input asp-for="@Model.Address1" type="hidden" />

    <input asp-for="@Model.Address2" type="hidden" />

    <input asp-for="@Model.City" type="hidden" />

    <input asp-for="@Model.State" type="hidden" />

    <input asp-for="@Model.ZipCode" type="hidden" />

    <input asp-for="@Model.CreditCard" type="hidden" />

    <button class="review" type="submit">Confirm</button>
</form>

<form  method="post" asp-controller="Checkout" asp-action="Update">
    <input asp-for="@Model.FirstName" type="hidden" />

    <input asp-for="@Model.LastName" type="hidden" />

    <input asp-for="@Model.Address1" type="hidden" />

    <input asp-for="@Model.Address2" type="hidden" />

    <input asp-for="@Model.City" type="hidden" />

    <input asp-for="@Model.State" type="hidden" />

    <input asp-for="@Model.ZipCode" type="hidden" />

    <input asp-for="@Model.CreditCard" type="hidden" />

    <button class="review" type="submit">Go Back</button>
</form>