@model List<ecommerce.Models.Product>

<p><a asp-controller="Admin" asp-action="AddProduct">Add Product</a></p>

@foreach (var item in Model)
{
<div>
    <h2>@item.Name</h2>
    <img src="@item.Image" />
    <p>@item.Description</p>
    <p>$@item.Price</p>
    <p>SKU: @item.Sku</p>
    <p><a asp-controller="Admin" asp-action="Detail" asp-route-id="@item.ID">View Detail</a></p>
</div>
}