@model ecommerce.Models.Order

@{
    Layout = "_AdminLayout";
}




<h2>ID: @Model.ID User: @Model.LastName, @Model.FirstName </h2> 
<p>DATE: @Model.OrderDate.DayOfYear</p>
<p>@Model.Address1 @Model.Address2 @Model.City, @Model.State @Model.ZipCode </p>

@*<table>
    <thead>Product</thead>
    <thead>Price</thead>
    <thead>Quantity</thead>
    <tr>
        @foreach (var x in Model.BasketItems)
        {
            <td>@x.Product.Name</td>
            <td>@x.Product.Price</td>
            <td>@x.Quantity</td>
        }        
    </tr>
</table>*@

<h2>Order Total @Model.Total</h2>

