@model List<ecommerce.Models.Order>
@using ecommerce.Models


@{
    Layout = "_AdminLayout";
}

@foreach (var item in Model)
{
    <p>Order ID: @item.ID</p>
    <h3>@item.LastName, @item.FirstName</h3>
    <p>DATE: @item.OrderDate.Day</p>
    <p>@item.Address1 @item.Address2 </p>
    <p>@item.City, @item.State @item.ZipCode</p>
    foreach (var x in item.BasketItems)
    {
        <div>
            <p>Product: @x.Product.Name</p>
            <p>Price: @x.Product.Price</p>
            <p>Quantity: @x.Quantity</p>
        </div>
    }
    <h3>Order Total: @item.Total</h3>
}
