@model ecommerce.Models.Order
@using ecommerce.Models


@{
    Layout = "_AdminLayout";
}



<p>Order ID: @Model.ID </p>
<h3>@Model.LastName, @Model.FirstName </h3>
<p>DATE: @Model.OrderDate.Day</p>
<p>@Model.Address1 @Model.Address2 @Model.City, @Model.State @Model.ZipCode </p>
<hr />

@foreach(var x in Model.BasketItems){
<div>
    <p>Product: @x.Product.Name</p>
    <p>Price: @x.Product.Price</p>
    <p>Quantity: @x.Quantity</p>
</div>
    <hr/>
}


<h2>Order Total @Model.Total</h2>

