@model ecommerce.Models.Product

@{
    Layout = "_AdminLayout";
}

<head>
    <link href="~/CSS/Detail.css?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])" rel="stylesheet" />
</head>

<img id="DetailImg" src="@Model.Image" />
<div id="DetailContainer">
    <h2>@Model.Name</h2>
    <p>SKU: @Model.Sku</p>
    <p id="DetailDetail">@Model.Description</p>
    <p>$@Model.Price</p>

    <a asp-controller="Product" asp-action="Update" asp-route-id="@Model.ID">Update</a>
    <a id="DeleteLink" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
</div>
