@model ecommerce.Models.BasketItem
@using Microsoft.AspNetCore.Identity
@using ecommerce.Models
@using System.Security.Claims;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "_Layout";
}

<head>
    <link href="~/CSS/Detail.css?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])" rel="stylesheet" />
</head>


<img id="DetailImg" src="@Model.Product.Image" />
<div id="DetailContainer">
    <h2>@Model.Product.Name</h2>
    <p id="DetailDetail">@Model.Product.Description</p>
    <p>$@Model.Product.Price</p>

    <form method="post" asp-controller="Basket" asp-action="AddBasketItem">
        <div>
            <label asp-for="@Model.Quantity">Qty:</label>
            <input asp-for="@Model.Quantity" min="1" value="1"/>
        </div>
        <input asp-for="@Model.ProductID" type="hidden" />
        <button type="submit">Add to Basket</button>
    </form>
</div>


