@model ecommerce.Models.BasketItem
@using Microsoft.AspNetCore.Identity
@using ecommerce.Models
@using System.Security.Claims;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "_Layout";
}


<h2>@Model.Product.Name</h2>
<img src="@Model.Product.Image" />
<p>@Model.Product.Description</p>
<p>$@Model.Product.Price</p>

<form method="post" asp-controller="Basket" asp-action="AddBasketItem">
    <div>
        <label asp-for="@Model.Quantity">Qty:</label>
        <input asp-for="@Model.Quantity" min="1" />
    </div>
    <input asp-for="@Model.ProductID" type="hidden" />
    <button type="submit">Add to Basket</button>
</form>


