@*@model List<ecommerce.Models.BasketItem>*@
@model ecommerce.Models.ViewModels.UpdateQuantityViewModel


@{
    decimal total = 0;
}
@{ 
    Layout = "_Layout";
}

<head>
    <link href="~/CSS/Basket.css?query=@System.Net.WebUtility.UrlEncode(Context.Request.Query["query"])" rel="stylesheet" />
</head>

<section class="inventory">
    <h2><span>My Basket</span></h2>
    <hr />
    <div>
        @if (Model.basketItems.Count == 0)
        {
            <h3>Your cart is empty</h3>
        }
        else
        {
            @foreach (var item in Model.basketItems)
            {
            <div class="card">
                <div id="BasketItem">
                    <img src="@item.Product.Image" />
                    <p><strong>@item.Product.Name</strong> </p>
                    <p>$@item.Product.Price</p>
                </div>
                <div class="crud">
                <form method="post" asp-controller="Basket" asp-action="UpdateQuantity">
                    <input asp-for="ID" type="hidden" value="@item.ID">
                    <input asp-for="ProductID" type="hidden" value="@item.ProductID">
                    <input asp-for="Quantity" value="@item.Quantity">
                    <input asp-for="BasketID" type="hidden" value="@item.BasketID">
                    <button type="submit">Update Quantity</button>
                </form>
                    </div>
                <br />
                <a asp-controller="Basket" asp-action="Delete" asp-route-id="@item.ID">Remove From Basket</a>
                @{
                    total += (item.Product.Price * item.Quantity);
                }
            </div>
            <hr/>
             }
            <p><strong>Total:</strong> $@total</p>
            <a id="checkout" asp-controller="Checkout" asp-action="Index">Checkout</a>
        }
    </div>
</section>