@model List<BasketItem>

@using Microsoft.AspNetCore.Identity
@using ecommerce.Models

@inject SignInManager<ApplicationUser> SignInManager

<head>
    <link href="~/CSS/BasketPanel.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>

<h2 id="BasketTitle"><a asp-controller="Basket" asp-action="Index">Basket</a></h2>

<hr class="BasketHR" />

@foreach (var item in Model)
{
    <div>
        <a asp-controller="Shop" asp-action="Detail" asp-route-id="@item.ProductID">
            <img src="@item.Product.Image" alt="@item.Product.Name" />
        </a>
        <div>
            <h3>@item.Product.Name</h3>
            <p>Price: @item.Product.Price</p>
            <p>Qty:  @item.Quantity</p>
        </div>
    </div>
}

<a id="ViewBasket" asp-controller="Basket" asp-action="Index">View Basket</a>

