@model List<BasketItem>

@using Microsoft.AspNetCore.Identity
@using ecommerce.Models

@inject SignInManager<ApplicationUser> SignInManager

<head>
    <link href="~/CSS/BasketPanel.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>

<h2 id="BasketTitle"><a asp-controller="Basket" asp-action="Index">Basket</a></h2>

<hr />

@foreach (var item in Model)
{
    <div>
        <img src="@item.Product.Image" alt="@item.Product.Name" />
        <h3>@item.Product.Name</h3>
        <p>Price: @item.Product.Price</p>
        <p>qty:  @item.Quantity</p>
        <hr />
    </div>
}

<a id="ViewBasket" asp-controller="Basket" asp-action="Index">View Basket</a>

